language: python
python:
  - "3.6"
  - "3.7-dev"
# command to install dependencies
install:
  - pip install -q -r requirements.txt
  - python setup.py install
# command to run tests
script:
  - python setup.py test
  - python examples/mnist/mnist.py --cuda=False --batch-size=48 --pretrain-epochs=1 --finetune-epochs=1 --testing-mode=True
